*,
*::before,
*::after {
    box-sizing: border-box;

    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.grid {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 5px;
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-container {
    flex: 1.5;
    background-image: url("./backimges/background.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -420px;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;

    -webkit-text-fill-color: gold;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 2px;

}

.game {
    flex: 4.5;
    background-color: white;
}

.selected {
    border: 2px dotted red;
}