*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("./backimges/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.title-container {
    flex: 1;

}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;

    -webkit-text-fill-color: gold;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 2px;

}

.game {
    flex: 4;
    display: flex;
    flex-direction: row;
}

.grid {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    height: 16rem;
    width: 16rem;
    transform-style: preserve-3d;
    transition: transform .2s;
    perspective: 1000px;
}

img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.card:active {
    transition: transform .2s;

}

.card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-bottom: 10px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}